---
import Layout from '../layouts/Layout.astro';
//import Card from '../components/Card.astro';
import {Card} from '../components/Card'

---

<Layout title="Welcome to Astro.">
	<div class="astro-a">
		<h1>hola Astro</h1>
		<Card client:only/>
	</div>
	
</Layout>

<style>
	.astro-a {
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
		
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
</style>
